h2 {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td,
th {
  padding: 10px;
}

td {
  color: green;
}

th {
  color: red;
}

a {
  text-decoration: none;
}

.insertar,
.buscar {
  padding: 8px;
  border: 1px solid black;
  background: rgb(233, 193, 14);
  border-radius: 5px;
  color: white;
}

.crud {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 16px;
}

.volver {
  display: flex;
  justify-content: center;
  background: rgb(233, 193, 14);
  line-height: 40px;
  width: 7em;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 21px;
  border: 1px solid black;
}

.volver a {
  color: white;
}

#cliente,
#habitacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 350px;
}

.item {
  margin-bottom: 8px;
}

.contenedorForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.guardar {
  display: flex;
  justify-content: center;
  background: rgb(233, 193, 14);
  line-height: 40px;
  width: 9em;
  margin: 0 auto;
  border-radius: 21px;
  border: 1px solid black;
  color: white;
  margin-top: 8px;
}

label {
  margin-right: 16px;
}
